<h1>Listing docs</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Title</th>
    <th>Type</th>
    <th>Tags</th>
    <th>Prop</th>
  </tr>

<% @docs.each do |doc| %>
  <tr>
    <td><%=h doc.uid %></td>
    <td><%=h doc.title %></td>
    <td><%=h doc.type %></td>
    <td><%=h doc.tags %></td>
    <td><%=h doc.prop %></td>
    <td><%= link_to 'Show', doc %></td>
    <td><%= link_to 'Edit', edit_doc_path(doc) %></td>
    <td><%= link_to 'Destroy', doc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New doc', new_doc_path %>