<h1>Editing userinfo</h1>

<% form_for(@userinfo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :prop %><br />
    <%= f.text_area :prop %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @userinfo %> |
<%= link_to 'Back', userinfos_path %>