<h1>Listing userinfos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Prop</th>
  </tr>

<% @userinfos.each do |userinfo| %>
  <tr>
    <td><%=h userinfo.id %></td>
    <td><%=h userinfo.prop %></td>
    <td><%= link_to 'Show', userinfo %></td>
    <td><%= link_to 'Edit', edit_userinfo_path(userinfo) %></td>
    <td><%= link_to 'Destroy', userinfo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New userinfo', new_userinfo_path %>