<div style="margin:2px;">
<div style="float:left;">您的大作: </div>
<div style="float:left;margin-left:7px;">
	<form action="/editor/index?">
	<input name="search" style="border:1px solid blue;width:70pt;"><input type="submit" value="search"/>
	</form>
</div>
<div style="clear:both;">
</div>
<script>
function overline(t){
	tt = $(t.parentNode.parentNode.parentNode);
	tt.css("background", "#ffff99");
}
function leaveline(t){
	tt = $(t.parentNode.parentNode.parentNode);
	tt.css("background", "#ffffff");
}
</script>
<% if @doc_list %>
<div style="height:360px;">
<table  border="0" class="post_list" style="table-layout:fixed;" width="100%">
<tr class="title"><td style="text-align:left;width:300px;">标题</td><td style="width:50px;text-align:left;">类型</td><td style="width:150px;">最后更新</td><td style="width:150px;">创建</td></tr>
	<% for doc in @doc_list %>
	<tr><td class="post_title" style="white-space:nowrap;overflow:hidden;word-break:break-all;" ><div style="width:300px;overflow:hidden;" nowrap>
		<a href="/editor/index?docid=<%=doc[:id]%>" 
		title="<% if doc[:title] %>
				<%=doc[:title]%> 
			<% end %>
				" >
		<% if doc[:title] && doc[:title].size >0 %>
			<%=doc[:title]%>
			<% else %>
			[无标题]
		<% end %>
		</a></div></td>
			<td style="font-size:9pt;color:grey;padding:0px;margin:0px;">
		<% if doc[:doctype] == 1 
			 %>
			<img src="/images/doc.png" title="<%="文档" %>" width=18 />
			<% elsif doc[:doctype] == 2 %>
				<img src="/images/bookmark.jpg" title="<%='网摘'%>" width=18 />
		
			<% end %>
		</td>
		<td nowrap class="post_list_time">
		<%=doc[:updated_at].strftime('%Y-%m-%d %H:%m:%S') %>
		</td>
		<td nowrap  class="post_list_time">
			<%=doc[:created_at].strftime('%Y-%m-%d %H:%m:%S') %>
		</td>
		<td style="text-align:center;width:50px;">
		<a href="javascript:void(0)" onclick="delDoc(
				<%=doc[:id]%>, 
				<% if doc[:title] && doc[:title].size >0 %>
					'<%=doc[:title]%>'
				<% else %>
					'[无标题]'
				<% end %>
				)"> <img src="/images/delete.gif" style="border-width:0px;width:12px;"  onmouseover="overline(this);" onmouseout="leaveline(this);"/></a>
		</td>
	</tr>
	<%end%>
</table>
</div>
<div id="pager"style="text-align:right;" ></div>

<% end %>
<script>

 $("#pager").pager({ pagenumber: <%=@current_page%>, pagecount: <%=@page_number%>, buttonClickCallback: showDoc });
//$(g_fckeditor.EditorDocument).height("1000px");
</script>
