<div style="margin:2px;">
<div style="float:left;">您的大作: </div>
<div style="float:left;margin-left:7px;">
	<form action="/editor/index?">
	<input name="search" style="border:1px solid blue;width:70pt;"><input type="submit" value="search"/>
	</form>
</div>
<div style="clear:both;">
</div>
<script>
function overline(t){
	tt = $(t.parentNode.parentNode.parentNode);
	tt.css("background", "#ffff99");
}
function leaveline(t){
	tt = $(t.parentNode.parentNode.parentNode);
	tt.css("background", "#ffffff");
}
</script>
<% if @doc_list %>
<div style="height:360px;">
<table  class="post_list" style="table-layout:fixed;" width="100%">
<tr><td style="">标题</td><td>最后更新</td><td>创建</td></tr>
	<% for doc in @doc_list %>
	<tr><td class="post_title" style="white-space:nowrap;overflow:hidden;word-break:break-all;" ><div style="width:300px;overflow:hidden;" nowrap>
		<a href="/editor/index?docid=<%=doc[:id]%>" 
		title="<% if doc[:title] %>
				<%=doc[:title]%> 
			<% end %>
				" >
		<% if doc[:title] && doc[:title].size >0 %>
			<%=doc[:title]%>
			<% else %>
			[无标题]
		<% end %>
		</a></div></td>
		<td>
		<%=doc[:updated_at].strftime('%Y-%m-%d %H:%m:%S') %>
		</td>
		<td>
			<%=doc[:created_at].strftime('%Y-%m-%d %H:%m:%S') %>
		</td>
		<td style="text-align:center;width:50px;">
		<a href="javascript:void(0)" onclick="delDoc(
				<%=doc[:id]%>, 
				<% if doc[:title] && doc[:title].size >0 %>
					'<%=doc[:title]%>'
				<% else %>
					'[无标题]'
				<% end %>
				)"> <img src="/images/delete.gif" style="border-width:0px;width:12px;"  onmouseover="overline(this);" onmouseout="leaveline(this);"/></a>
		</td>
	</tr>
	<%end%>
</table>
</div>
<div id="pager"style="text-align:right;" ></div>

<% end %>
<script>

 $("#pager").pager({ pagenumber: <%=@current_page%>, pagecount: <%=@page_number%>, buttonClickCallback: showDoc });
//$(g_fckeditor.EditorDocument).height("1000px");
</script>
