<p>
  <b>Creator:</b>
  <%=h @app.creator %>
</p>

<p>
  <b>Appkey:</b>
  <%=h @app.appkey %>
</p>

<p>
  <b>Secret:</b>
  <%=h @app.secret %>
</p>

<p>
  <b>Permission:</b>
  <%=h @app.permission %>
</p>

<p>
  <b>Style:</b>
  <%=h @app.style %>
</p>

<p>
  <b>Type:</b>
  <%=h @app.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @app.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @app.desc %>
</p>

<p>
  <b>Callback:</b>
  <%=h @app.callback %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>