<h1>Editing userapp</h1>

<% form_for(@userapp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </p>
 
<p>
    <%= f.label :appname %><br />
    <%= f.text_field :appname %>
  </p>
  <p>
    <%= f.label :appkey %><br />
    <%= f.text_field :appkey %>
  </p>
  <p>
    <%= f.label :appurl %><br />
    <%= f.text_field :appurl %>
  </p>
  <p>
    <%= f.label :applogourl %><br />
    <%= f.text_field :applogourl %>
  </p>

  <p>
    <%= f.label :permission %><br />
    <%= f.text_field :permission %>
  </p>
  <p>
    <%= f.label :style %><br />
    <%= f.text_field :style %>
  </p>
  <p>
    <%= f.label :hotkey %><br />
    <%= f.text_field :hotkey %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @userapp %> |
<%= link_to 'Back', userapps_path %>